In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from sklearn.model_selection import train_test_split

In [12]:
# Load the training set.
train_df = pd.read_csv("train.csv")

In [13]:
# Load the test set.
test_df = pd.read_csv("test.csv")

In [19]:
# Picked 9 most important features from the heat map
new_train = train_df[['OverallQual','GrLivArea','GarageCars','TotalBsmtSF', 'FullBath', 'YearBuilt','YearRemodAdd',
                      'GarageYrBlt','MasVnrArea', 'SalePrice']]
new_test = test_df[['OverallQual','GrLivArea','GarageCars','TotalBsmtSF', 'FullBath', 'YearBuilt','YearRemodAdd',
                      'GarageYrBlt','MasVnrArea']]
new_train.head()

,OverallQual,GrLivArea,GarageCars,TotalBsmtSF,FullBath,YearBuilt,YearRemodAdd,GarageYrBlt,MasVnrArea,SalePrice
0,7,1710,2,856,2,2003,2003,2003.0,196.0,208500
1,6,1262,2,1262,2,1976,1976,1976.0,0.0,181500
2,7,1786,2,920,2,2001,2002,2001.0,162.0,223500
3,7,1717,3,756,1,1915,1970,1998.0,0.0,140000
4,8,2198,3,1145,2,2000,2000,2000.0,350.0,250000

In [21]:
# Count how many 'NA' data points in 'GarageYrBlt' feature 
sum(new_test['GarageYrBlt'].isnull())

78

In [22]:
# Get mean value of GarageYrBlt 
avg_GarageYrBlt = np.mean(new_test['GarageYrBlt'])

In [23]:
# Replace 'NA' data points with mean of whole data points in 'GarageYrBlt' feature
new_test['GarageYrBlt'] = new_test['GarageYrBlt'].fillna(avg_GarageYrBlt)

/var/folders/d2/pn4y2yd50s1f6rw4q6f3h74r0000gn/T/ipykernel_94608/4290224826.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_test['GarageYrBlt'] = new_test['GarageYrBlt'].fillna(avg_GarageYrBlt)

In [24]:
# Count how many 'NA' data points in 'MasVnrArea' feature 
sum(new_test['MasVnrArea'].isnull())

15

In [25]:
# Get mean value of MasVnrArea
avg_MasVnrArea = np.mean(new_test['MasVnrArea'])

In [26]:
# Replace 'NA' data points with mean of whole data points in 'MasVnrArea' feature
new_test['MasVnrArea'] = new_test['MasVnrArea'].fillna(avg_MasVnrArea)

/var/folders/d2/pn4y2yd50s1f6rw4q6f3h74r0000gn/T/ipykernel_94608/137935048.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_test['MasVnrArea'] = new_test['MasVnrArea'].fillna(avg_MasVnrArea)

In [27]:
new_test

,OverallQual,GrLivArea,GarageCars,TotalBsmtSF,FullBath,YearBuilt,YearRemodAdd,GarageYrBlt,MasVnrArea
0,5,896,1.0,882.0,1,1961,1961,1961.000000,0.0
1,6,1329,1.0,1329.0,1,1958,1958,1958.000000,108.0
2,5,1629,2.0,928.0,2,1997,1998,1997.000000,0.0
3,6,1604,2.0,926.0,2,1998,1998,1998.000000,20.0
4,8,1280,2.0,1280.0,2,1992,1992,1992.000000,0.0
...,...,...,...,...,...,...,...,...,...
1454,4,1092,0.0,546.0,1,1970,1970,1977.721217,0.0
1455,4,1092,1.0,546.0,1,1970,1970,1970.000000,0.0
1456,5,1224,2.0,1224.0,1,1960,1996,1960.000000,0.0
1457,5,970,0.0,912.0,1,1992,1992,1977.721217,0.0
1458,7,2000,3.0,996.0,2,1993,1994,1993.000000,94.0

In [28]:
# Detect any outlier : Quantil based flooring and capping method
testdata_nosalesprice = new_test
def detect_outliers_zscore(data):
    outliers = []
    thres = 2
    mean = np.mean(data)
    std = np.std(data)
    # print(mean, std)
    for i in data:
        z_score = (i-mean)/std
        if (np.abs(z_score) > thres):
            outliers.append(i)
    return outliers# Driver code
outliers_overallqual = detect_outliers_zscore(testdata_nosalesprice['OverallQual'])
outliers_GrLivArea = detect_outliers_zscore(testdata_nosalesprice['GrLivArea'])
outliers_GarageCars = detect_outliers_zscore(testdata_nosalesprice['GarageCars'])
outliers_TotalBsmtSF = detect_outliers_zscore(testdata_nosalesprice['TotalBsmtSF'])
outliers_FullBath = detect_outliers_zscore(testdata_nosalesprice['FullBath'])
outliers_YearBuilt = detect_outliers_zscore(testdata_nosalesprice['YearBuilt'])
outliers_YearRemodAdd = detect_outliers_zscore(testdata_nosalesprice['YearRemodAdd'])
outliers_GarageYrBlt = detect_outliers_zscore(testdata_nosalesprice['GarageYrBlt'])
outliers_MasVnrArea = detect_outliers_zscore(testdata_nosalesprice['MasVnrArea'])

In [30]:
# Replace the outliers : Quantil based flooring and capping method
def replace_outlier(feature):
# Computing 10th, 90th percentiles and replacing the outliers
    tenth_percentile = np.percentile(testdata_nosalesprice[feature], 10)
    ninetieth_percentile = np.percentile(testdata_nosalesprice[feature], 90)
    print(tenth_percentile,ninetieth_percentile)
# print(tenth_percentile, ninetieth_percentile)
    b = np.where(testdata_nosalesprice[feature]<tenth_percentile, tenth_percentile, testdata_nosalesprice[feature])
    b = np.where(b>ninetieth_percentile, ninetieth_percentile, b)
    print(feature,b)
# print("Overallqual:", traindata_nosalesprice['OverallQual'])
    dic = {'A': b}
    df_replace = pd.DataFrame(dic)
    testdata_nosalesprice[feature] = df_replace['A'].values
    
# print("Overallqual:", traindata_nosalesprice['OverallQual'])
    return testdata_nosalesprice
replace_outlier('OverallQual') 
replace_outlier('GrLivArea')  
replace_outlier('GarageCars') 
replace_outlier('TotalBsmtSF') 
replace_outlier('FullBath')
replace_outlier('YearBuilt') 
replace_outlier('YearRemodAdd')
replace_outlier('GarageYrBlt') 
replace_outlier('MasVnrArea')

5.0 8.0
OverallQual [5. 6. 5. ... 5. 5. 7.]
936.0 2134.4000000000005
GrLivArea [ 936. 1329. 1629. ... 1224.  970. 2000.]
nan nan
GarageCars [1. 1. 2. ... 2. 0. 3.]
nan nan
TotalBsmtSF [ 882. 1329.  928. ... 1224.  912.  996.]
1.0 2.0
FullBath [1. 1. 2. ... 1. 1. 2.]
1924.0 2006.0
YearBuilt [1961. 1958. 1997. ... 1960. 1992. 1993.]
1950.0 2007.0
YearRemodAdd [1961. 1958. 1998. ... 1996. 1992. 1994.]
1942.0 2006.0
GarageYrBlt [1961.         1958.         1997.         ... 1960.         1977.72121651
 1993.        ]
0.0 309.20000000000005
MasVnrArea [  0. 108.   0. ...   0.   0.  94.]

/var/folders/d2/pn4y2yd50s1f6rw4q6f3h74r0000gn/T/ipykernel_94608/4223240365.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  testdata_nosalesprice[feature] = df_replace['A'].values

,OverallQual,GrLivArea,GarageCars,TotalBsmtSF,FullBath,YearBuilt,YearRemodAdd,GarageYrBlt,MasVnrArea
0,5.0,936.0,1.0,882.0,1.0,1961.0,1961.0,1961.000000,0.0
1,6.0,1329.0,1.0,1329.0,1.0,1958.0,1958.0,1958.000000,108.0
2,5.0,1629.0,2.0,928.0,2.0,1997.0,1998.0,1997.000000,0.0
3,6.0,1604.0,2.0,926.0,2.0,1998.0,1998.0,1998.000000,20.0
4,8.0,1280.0,2.0,1280.0,2.0,1992.0,1992.0,1992.000000,0.0
...,...,...,...,...,...,...,...,...,...
1454,5.0,1092.0,0.0,546.0,1.0,1970.0,1970.0,1977.721217,0.0
1455,5.0,1092.0,1.0,546.0,1.0,1970.0,1970.0,1970.000000,0.0
1456,5.0,1224.0,2.0,1224.0,1.0,1960.0,1996.0,1960.000000,0.0
1457,5.0,970.0,0.0,912.0,1.0,1992.0,1992.0,1977.721217,0.0
1458,7.0,2000.0,3.0,996.0,2.0,1993.0,1994.0,1993.000000,94.0

In [45]:
# MasVnrArea, case shows outlier = 335, 335 = 90 percentile value, so its okay, GarageCars,TotalBsmtSF
detect_outliers_zscore(testdata_nosalesprice['GrLivArea'])

[]